django
factory_boy
djangorestframework
django-cors-headers
django_extensions
pandas
rapidfuzz
thefuzz
# transformers
# torch
celery
redis
gunicorn
whitenoise
dj_database_url
psycopg2-binary
# azure sql
pyodbc
mssql-django
freezegun
plaid-python
python-dotenv